:root {
  --color-lication-background : #EDF6F9;
  --color-border : #F3F3F8;
  --color-hashtag : #E7E7E9;
  --color-date : #58585B;
}
@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url(./public/font/AppleSDGothicNeoM.ttf);
}
* {
  font-family: 'AppleSDGothicNeo';
}
html, body {
  width: 100%; max-width: 540px; height:100vh; margin: auto; box-sizing: border-box; font-family: 'AppleSDGothicNeo' 'Noto Sans KR';
}

.background {
  width: 100%; height: 100%; max-width: 540px; box-sizing: border-box;
}

.detail-content {
  padding: 27.5px;
}
.detail-content > svg {
  padding: 5px 15px 5px 0px;
}
.detail-content .previews{
  padding: 0; position: relative; height: 450px;
}
.preview-img .carousel-item {
  display: none;
}
.preview-img .active {
  display: block; height: 320px; list-style: none; overflow: hidden; border-radius: 16px; margin-left: auto; margin-right: auto;
}
/* .detail-content .preview-img div,
.detail-content .preview-img div li {
  display: flex;
} */
.detail-content .preview-img {
   height: 320px; list-style: none; overflow: hidden; border-radius: 16px; margin-left: auto; margin-right: auto;
}

/* Carousel slider */
.carousel-root{
  width: 100%;
}
.carousel .carousel-slider {
  overflow: hidden;
}
.control-dots {
  display: none;
}
.slider .animated {
  padding: 0; margin: 0; 
}
.slider-wrapper ul {
  display: flex; padding: 0; margin: 0;
}
.detail-content .preview-img{
  box-shadow: 8px 16px 13px #e8e8e8
}
/* Carousel slider */
.detail-content .preview-img img {
  width: 100%; height: 100%; border-radius: 16px; overflow: hidden; 
}
.detail-content .preview-img video {
  overflow: hidden; height: 100%;
}
.detail-content .info{
  margin-left: auto; margin-right: auto;  display: table; position: absolute; bottom: 1%; left: 38%; 
}

.detail-content .info .profile {
  width: 58px; height: 58px; border-radius: 50%; padding: 2px; box-shadow: 1px 1px 23px #888888; margin-left: auto; margin-right: auto; background-color: white;
}
.detail-content .info .writer {
  text-align: center;
}
.detail-content .info .profile img {
  width: 100%; height:100%; border-radius: 50%; 
}
.detail-content .info .date {
  color: var(--color-date); font-weight: 400; font-size: 11px; line-height: 13px;
}
.detail-content .desc {
  padding-bottom: 40px;
}
.detail-content .desc p {
  font-weight: 400;  font-size: 22px; line-height: 43px;
}
.detail-content .desc a {
  font-weight: 400;
  font-size: 22px;
  line-height: 43px; color: #FF7830;
}
.detail-content .receiver {
  display: inline-flex;  align-items: center; 
}
.detail-content .receiver .img-wrapper {
  width: 27px; height: 27px; border-radius: 50%; background-color: white; padding: 3px;
}
.detail-content .receiver .img-wrapper:not(:first-child) {
   position: relative;  left: -20px;
}
.detail-content .receiver .img-wrapper:nth-child(2){
  left: -10px;
}

.detail-content .receiver .img-wrapper img {
  width: 24px; height: 24px; border-radius: 50%; 
}
.detail-content .receiver p {
  position: relative; left: -17px; font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.detail-content .receiver p svg {
  padding: 0px 4px 2px;
}
.detail-content .divide {
  background-color: var(--color-border); width: 100%; height: 1px; margin: 20px 0px;
}
.detail-content .tracker .location {
  display: flex; padding: 18px 16px; background-color: var(--color-lication-background); border-radius: 12px; margin-bottom: 25px;
}

.detail-content .tracker .location p{
  position: relative;  left: 8px; margin: 0;
}

.detail-content .tracker .hashtag{
  display: inline-flex; overflow: auto;
}

.detail-content .tracker .hashtag div {
  border: 1px solid var(--color-hashtag); border-radius: 18px; width: fit-content; font-size: 13px; padding: 10px; margin-right: 10px;
}

@media (prefers-reduced-motion: no-preference) {
 
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
